@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&family=Jacquard+12&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container1 {
  width: 1920px;
  font-family: "Inter", sans-serif;
  height: 860px;
  gap: 0px;
  background-image: url("Frame (2).png");
  background-position: center;
  background-size: cover;
  opacity: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container2 {
  width: 1320px;
  height: 860px;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-wrap: wrap;

 
  align-items: center;
}
nav {
  width: 1320px;
  height: 88px;

  padding: 21.94px 15px 21.93px 15px;
 
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.navbox1 {
  width: 808.84px;
  height: 44.13px;
  display: flex;

  align-items: center;
  margin-right: 113.24px;
  flex-wrap: wrap;
}
.navbox1 img {
  width: 167px;
  height: 32px;
  margin-right: 50px;
}
.navbox1 ul {
  display: flex;
  align-items: center;
  gap: 59.8px;
  flex-wrap: wrap;
}
.navbox1 ul > li {
  list-style-type: none;

  font-size: 14.77px;
  font-weight: 400;
  line-height: 28.13px;
}
.navbox1 ul > li:nth-of-type(1) {
  color: #eb662b;
}
.navbox2 {
  width: 367.92px;
  height: 44px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.navbox2 > ul {
  display: flex;
  flex-wrap: wrap;
}
.navbox2 > ul > li {
  list-style-type: none;
}
.navbox2 > ul > li:nth-of-type(1) {
  margin-right: 62.8px;
}
.navbox2 > ul > li:nth-of-type(2),
.navbox2 > ul > li:nth-of-type(3) {
  margin-right: 29.8px;
}
.navbox2 button {
  width: 83.31px;
  height: 44px;

  border-radius: 200px;
  border: 1px 0px 0px 0px;
  border: 1px solid #05073c;

  font-size: 14.3px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  color: #05073c;
}
.title {
  width: 880px;
  height: 254px;
  margin-top: 59px;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.heading {
  width: 664px;
  height: 151px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}
.heading h1{
  font-size: 60px;
  font-weight: 600;
 color: linear-gradient(90.84deg, #EE8C61 27.01%, #4C43C4 87.3%);

  
}
.searchform {
  width: 850px;
  height: 80px;

  padding: 10px;

  border-radius: 200px;
  background-color: #ffffff;
  box-shadow: 0px 10px 40px 0px #0000000d;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.form {
  width: 768px;
  height: 60px;

  display: flex;
 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.circle {
  width: 62px;
  height: 60px;

  border-radius: 200px;
  background: #eb662b;
}
.form>div{
    width: 249.33px;
height: 50px;

padding: 0px 60.97px 0px 0px;
background-color: white;
display: flex;
gap: 10px;
flex-wrap: wrap;

}
.circle1{
    width: 50px;
height: 50px;

border-radius: 50px;
background-color: #EB662B0D;

}
.info{
    width: 128.36px;
height: 43.59px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
}
.info>span:nth-of-type(1){
   
font-size: 14.88px;
font-weight: 500;
color: #05073C;

}
.info>span:nth-of-type(2){
   
font-size: 13.67px;
font-weight: 400;
color: #717171;

    }
.date{
    width: 151.84px;
height: 18px;

font-size: 13.34px;
font-weight: 400;
color: rgba(0, 0, 0, 1);

}
.container3 {
  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-wrap: wrap;
 
justify-content: center;
 
}
.box1{
    
  position: absolute;
  top: 5px;
  left: 15px;
 
  font-family: "Inter", sans-serif;
  font-size: 29.88px;
  font-weight: 700;
  line-height: 45px;
 
  color:  hsba(238, 92%, 24%, 1);

  }
 

  header{
    margin-bottom: 40px;
  }
  header span{
      position: absolute;
  top: 21.88px;
  left: 1234.41px;
 
  font-size: 14.3px;
  font-weight: 400;
  line-height: 28.13px;
  color: hsba(238, 92%, 24%, 1);

  }  
  main{
    display: flex;
   margin-top: 112px;
  }
 


.grid-container {
    display: grid;
    grid-template-areas:
        "cruises beach-tours city-tours city-tours"
        "cruises museum-tour food hiking"
        ;
    width: 1320px;
    height: 410px;
    grid-gap: 30px;
  
   padding: 15px;
}

.grid-item {
    
    display: flex;

    border-radius: 12px;
    
    ;
    position: relative;
    overflow: hidden;

}
.overlay{
  color: rgba(255, 255, 255, 1);
 
  ;
font-size: 19.53px;
font-weight: 500;
line-height: 30px;
position: absolute;
bottom: 10px;
    left: 10px;
    right: 10px;




}
.cruises {
    grid-area: cruises;
    background: url("div.featureCard__image.svg") no-repeat center center;
    background-size: cover;
    background-position: center;

}

.beach-tours {
    grid-area: beach-tours;
    background: url("div.featureCard__image (1).svg") no-repeat center center;
    background-size: cover;
    background-position: center;
}

.city-tours {
    grid-area: city-tours;
    background: url("div.featureCard__image (2).svg") no-repeat center center;
    background-size: cover;
    background-position: center;
}

.museum-tour {
    grid-area: museum-tour;
    background: url("div.featureCard__image (3).svg") no-repeat center center;
    background-size: cover;
    background-position: center;
}

.food {
    grid-area: food;
    background: url("div.featureCard__image (4).svg") no-repeat center center;
    background-size: cover;
    background-position: center;
}

.hiking {
    grid-area: hiking;
    background: url("div.featureCard__image (5).svg") no-repeat center center;
    background-size: cover;
    background-position: center;
}
.box3{
  margin-top: 105px;
  width: 100%;
  height: 296.38px;
  
  display: flex;
  flex-direction: column;

}
.box3>h3{
 
font-size: 29.3px;
font-weight: 700;
line-height: 45px;
margin-left: 15px;
color: rgba(5, 7, 60, 1);
}
.cards{
  display: grid;
 gap:74.47px;
 grid-template-columns: repeat(4,1fr);
 padding: 15px;
}
.cards img{
  width: 60px;
height: 60px;
margin-bottom: 30px;
}
.cards>div{
  display: flex;
  flex-direction: column;

}
.cards>div>h3{
text-align: left;
font-size: 17.72px;
font-weight: 500;
margin-bottom: 14px;



color: rgba(5, 7, 60, 1);

}
.cards>div>span{
 
font-size: 14.88px;
font-weight: 400;
line-height: 28.13px;
color: rgba(5, 7, 60, 1);


}

